<html>
<meta charset="UTF-8">
<script src="vue.js"></script>
<link href="index.css" rel="stylesheet">
<style>
	.pagenum {font-size:100%;}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<body>
	<div id="app">
		<button class="btnnav" @click="prevpara">Previous</button>
		<input class="bookpara" size=3 @input="bookchange" v-model="bookname"/>
		<input class="bookpara" size=3  @input="paranumchange" v-model="paranum"/>
		<button class="btnnav" @click="nextpara">Next</button>

		<input class="bookpara" @input="keywordchange" v-model="keyword"/>
		<span>{{grammarout}}</span>
		<br/>

		<breadcrumbtoc :vpl="vpl" :selectsid="selectsid" :gettoc="gettoc"></breadcrumbtoc>

		
		<maintext :rawid="rawid" :fetched="fetched"></maintext>
		<logger :log="logmessages" :clear="clearlog"></logger>
		
	</div>
</body>
<script src="bundle.js"></script>
</html>